body {
    background: url(/myImages/CA-nature-backgroundimg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

#centerText {
    display: flex;
    justify-content: center;
    
}

.mainButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;

}