html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;
}

.nav-links a {
    color: black;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}


.mountainPage {
    background-color: #888;
}

#centerText {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 100px;
}

.mainButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.mainContent {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 345px;
    background: url(https://cdn-prod.medicalnewstoday.com/content/images/articles/325/325466/man-walking-dog.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.parksButton {
    cursor: pointer;
    border: 4px solid black;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.mountainButton {
    cursor: pointer;
    border: 4px solid black;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

img {
    max-width: 100%;
    height: auto;
  }
  
  .mountain-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
  }
  
  .mountain {
    max-width: 500px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
  }
  
  .mountain h4 {
    margin: 0 0 6px 0;
  }
  
  .mountain-photo {
    float: top;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .mountain-name, .elevation {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
  }
  
  .mountain-desc {
    font-size: 1.3rem;
    font-weight: normal;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .mountain-effort-coordinates {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
  }
 